
.reservaFecha{
    text-align: center;
    background-color: rgba(248, 237, 223, 0.452);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 31px;
    box-shadow: 0px 12px 30px 2px rgba(0,0,0,3.3);
    align-items: center;
    justify-content: center;
    display: center;
}



input, select {
    font-family: 'Montserrat', sans-serif;
}

.formNav{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center; 
    height: 7%;
}

input {
    border: 0;
    font-size: 16px;
    padding: 16px;
    background-color:#ebecf0;
    text-shadow: 1px 1px 0 colgrop;
}

.cantidad{
    height: 1px;
    text-align: center;
}

label{
    margin: 1%;
}


.button-30 {
    align-items: center;
    appearance: none;
    background-color: #FCFCFD;
    border-radius: 5%;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #36395A;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono",monospace;
    height: 35px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 18px;
    margin: 5%;
    width: 200px
}

.button-30:focus {
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button-30:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
}

.button-30:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
}

@media screen and (max-width:900px){
    .reservaFecha{
        height: 150px;
        display: flex;
        align-items: center;}
    label{
        position: relative;
        align-items: center;}
    .button-30{
        margin: 2%;
        width: 200px;

    }
    
}

@media screen and (max-width:700px){
        .reservaFecha{height:1%}
        .formNav{flex-direction: column;}
};


